extends layout

block content
  h1 #{title}
  iframe(width="800", height="600", frameborder="0" style="border:0",
  src="https://www.google.com/maps/d/embed?mid=1hQ7AGnmEQrXCphw-K8c_X-gH3-sW11Ws&key=AIzaSyDNXz-4MOyTvJVYGq_0wUOLLrsdoWa154M")
